<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Diese 3 Meta-Angaben sind nötig und müssen vor allen anderen <head>-Inhalten
       stehen -->
<title>Item Detail</title>
<link th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Item bearbeiten oder erstellen</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" action="#" th:action="${postAction}"
					method="post" th:object="${itemDetail}">
									<input type="hidden" th:field="*{id}" /> 
					<div class="form-group">
						<div class="col-md-1">
							<label class="control-label">Item:</label> 
						</div>
						<div class="col-md-5">
							<input class="form-control" type="text" th:field="*{name}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-1">
							<label class="control-label">Quantity:</label> 
						</div>
						<div class="col-md-5">
							<input class="form-control" type="text" th:field="*{quantity}" />
						</div>
						
					</div>
					<div class="form-group">
						<div class="col-md-offset-1 col-md-4">
							<input class="btn btn-primary" type="submit" /> 
							<a class="btn btn-default" href="/">Zurück</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="@{js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>