<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>List Manager</title>
<link th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css"
	rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>List Manager</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover table-bordered table-condensed">
					<thead>
						<th>Name</th>
						<th>Menge</th>
						<th></th>
						<th></th>
					</thead>
					<tbody>
						<tr th:each="item : ${list}">
							<td th:text="${item.getName()}">Ding 1</td>
							<td th:text="${item.getQuantity()}">99</td>
							<td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
							<td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a class="btn btn-primary" href="/item">neues Item erstellen</a>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script th:src="@{js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>